#animals {
    /* setting the width of the animal divs that will hold the gifs */
    /* the other 30% is for the input form */
    width: 70%;
}

    /* spacing for the animal image divs */
.animal-item {
    float: left;
    padding: 10px;
}

#animal-buttons {
    margin: 5%; 
    margin-bottom:2%;
    padding-left: 13%;
    padding-right: 13%;
}

.botBorder {
    border-bottom: 3px solid #659a98;
}

#header {
    color: #eee;
    background: #659a98;
}

#addRow {
    justify-content: center;
    margin-bottom: 3%;
}